{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}
<link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
<div class="container text-center">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-warning" role="alert">
          {{msg}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form class="form-signin" action="#" method="post">
    <img class="mb-4" src="{{ url_for('static', filename='img/wiz.png') }}" alt="" width="72" height="72">
    <input type="text" id="inputEmail" class="form-control" placeholder="ItemID" required autofocus name="id">
    <label class="sr-only">ItemID</label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Deposit</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
  </form>
</div>
{% endblock %}
