{% extends "base.html" %}
{% block title %}Browse Content{% endblock %}
{% block content %}
<div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-warning" role="alert">
          {{msg}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="row">
    <div class="col">
      <h4>Browse All Offers</h4>
      <!-- SEARCH BAR -->
      <form class="form-inline searchbar">
        <input class="form-control mr-sm-2 searchbar-input" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="list-group">
        <li class="list-group-item">1x <img src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" /> Staff of Yuletide Carols for 3x <img src="https://i.imgur.com/scbKnF0.png" /> Coral Juice</li>
        {% for item in items %}
          <li class="list-group-item">{{ item[1] }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col col-lg-4">
      <h4>Your Inventory</h4>
      <h6>Storage Used: 7/50</h6>
      <ul class="list-group">
        <li class="list-group-item"><img src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" /> Staff of Yuletide Carols</li>
        <li class="list-group-item"><img src="https://i.imgur.com/scbKnF0.png" /> Coral Juice</li>
        <li class="list-group-item"><img src="https://static.drips.pw/rotmg/wiki/Abilities/Cloaks/T5%20Cloak%20of%20Endless%20Twilight.png" /> Cloak of Endless Twilight</li>
        <li class="list-group-item"><img src="https://static.drips.pw/rotmg/wiki/Consumable/Stat%20Potions/Potion%20of%20Life.png" /> Potion of Life <sub>x4</sub></li>
      </ul>
      <hr>
      <h4>Your Offers</h4>
      <h6>Offer Capacity: 1/10</h6>
      <ul class="list-group">
        <li class="list-group-item">1x<img src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" /> for 3x<img src="https://i.imgur.com/scbKnF0.png" /> </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
