{% extends "base.html" %}
{% block title %}Create New Offer{% endblock %}
{% block content %}
<link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
<div class="container text-center">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-warning" role="alert">
          {{msg}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form id='form' class="form-signin" onsubmit="return submit_form();">
    <img class="mb-4" src="{{ url_for('static', filename='img/wiz.png') }}" alt="" width="72" height="72">
    <h4> New offer to sell... </h4>
    <select class="selectpicker" id='selling' multiple data-live-search="true">

      {% for item in items %}
        <option>{{ item[2]|getItemName }}</option>
      {% endfor %}

    </select>
    <datalist id="inventoryitems">
      {% for item in items %}
        <option>{{ item[3]|getItemName }}</option>
      {% endfor %}
    </datalist>
    <div id='selling-quantity'></div>
    <br /><h4> In exchange for... </h4>

    <select class="selectpicker" id='buying' multiple data-live-search="true">

      {% for item in itemIds %}
        <option>{{ item[0]|getItemName }}</option>
      {% endfor %}

    </select>
    <div id='buying-quantity'></div>
    <button id='submit' class="btn btn-lg btn-primary btn-block" type="submit">Post Offer</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
  </form>
</div>
<script type="text/javascript">
  const selectElement1 = document.querySelector('#buying');
  const toSend = {
    name : "test",
  }
  function slugify(string) {
  const a = 'àáâäæãåāăąçćčđďèéêëēėęěğǵḧîïíīįìłḿñńǹňôöòóœøōõőṕŕřßśšşșťțûüùúūǘůűųẃẍÿýžźż·/_,:;'
  const b = 'aaaaaaaaaacccddeeeeeeeegghiiiiiilmnnnnoooooooooprrsssssttuuuuuuuuuwxyyzzz------'
  const p = new RegExp(a.split('').join('|'), 'g')

  return string.toString().toLowerCase()
    .replace(/\s+/g, '-') // Replace spaces with -
    .replace(p, c => b.charAt(a.indexOf(c))) // Replace special characters
    .replace(/&/g, '-and-') // Replace & with 'and'
    .replace(/[^\w\-]+/g, '') // Remove all non-word characters
    .replace(/\-\-+/g, '-') // Replace multiple - with single -
    .replace(/^-+/, '') // Trim - from start of text
    .replace(/-+$/, '') // Trim - from end of text
}

  function createRemoveFields(t, selector){

    var values = $(t).val() || [];
    var quantity = $('#' + selector)
    $('#' + selector + " .quantity").each(function() {

      var val = $(this).data('val');
      if (!values || !values.includes(val)) {
        $(this).remove()
      }
    })

    values.forEach(item => {
      var slug = slugify(item)
      if ($("#quantity-" + slug).length == 0) {
        quantity.append($('<input required data-val="'+item+'" id="quantity-' + slug + '" type="number" class="form-control quantity" placeholder="Quantity of '+ item + '" required name="'+selector + '-' + item+'"/>'))
      }
    })

  }

  $(function () {
    $('#selling').on('change', function() {
      createRemoveFields(this, 'selling-quantity')
    });
    $('#buying').on('change', function() {
      createRemoveFields(this, 'buying-quantity')
    });
    $("#submit").click(function(e){
      e.preventDefault();
      var vals = $("#form").serializeArray();
      $.ajax({
        'url': '/postoffer',
        data: JSON.stringify(vals),
        type: 'POST',
        contentType: 'application/json',
        success: function(response) {
          if(Object.values(response) != "Success"){
            alert(Object.values(response)[0]);
          } else {
            close()
          }
        }
      })
    })
  })
</script>
{% endblock %}
