{% extends "base.html" %}
{% block title %}Create New Offer{% endblock %}
{% block content %}
<link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
<div class="container text-center">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-warning" role="alert">
          {{msg}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form class="form-signin" onsubmit="return submit_form();">
    <img class="mb-4" src="{{ url_for('static', filename='img/wiz.png') }}" alt="" width="72" height="72">
    <h4> New offer to sell... </h4>
    <select class="selectpicker" id='selling' multiple data-live-search="true">

      {% for item in items %}
        <option>{{ item[2]|getItemName }}</option>
      {% endfor %}

    </select>
    <datalist id="inventoryitems">
      {% for item in items %}
        <option>{{ item[3]|getItemName }}</option>
      {% endfor %}
    </datalist>
    <input type="number" class="form-control" placeholder="Quantity" required name="supplyingq" />
    <br><h4> In exchange for... </h4>

    <select class="selectpicker" id='buying' multiple data-live-search="true">

      {% for item in itemIds %}
        <option>{{ item[0]|getItemName }}</option>
      {% endfor %}

    </select>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Post Offer</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
  </form>
</div>
<script type="text/javascript">
  const selectElement1 = document.querySelector('#buying');
  selectElement.addEventListener('change', (event) => {
    console.log(${event.target.value});
  });
  const toSend = {
    name : "chase",
    dick: "small"
  }
  const jsonString = JSON.stringify(toSend);

  const xhr = new XMLHttpRequest();

  xhr.open("POST", "postoffer");
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.send(jsonString);
</script>
{% endblock %}
