{% extends "base.html" %}
{% block title %}Browse{% endblock %}
{% block content %}
<div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-warning" role="alert">
          {{msg}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item" style="text-align:center;">
          <h3>Offer</h3><hr><i>{{ id|getOfferOwner }} is seeking...</i><hr>
          {% for item in buying %}
            <sub>{{ (item|parseOffer)[0] }}x</sub><img src="{{ url_for('static', filename='items/' + (item|parseOffer)[1] + '.png') }}" /> {{ (item|parseOffer)[1]|getItemName }}<br>
          {% endfor %}
          <hr>
          <i>In exchange for...</i><hr>
          {% for item in selling %}
            <sub>{{ (item|parseOffer)[0] }}x</sub><img src="{{ url_for('static', filename='items/' + (item|parseOffer)[1] + '.png') }}" /> {{ (item|parseOffer)[1]|getItemName }}<br>
          {% endfor %}
          <hr>
          {% if "UID" in session %}
            {% if session["UID"] == id|getOfferOwnerId %}
              <button type="button" class="btn btn-danger" style="width:100%;">Delete Offer</button>
            {% else %}
              <button type="button" class="btn btn-primary">Accept Offer</button>
            {% endif %}
          {% endif %}

        </li>
      </ul>
    </div>
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}
