{% extends "base.html" %}
{% block title %}Browse Content{% endblock %}
{% block content %}
<style>
  .item img{
    border-radius: 5px;
    height: 45px;
    width: 45px;
    padding:3px;
    background-color:#8080801c;
  }
  </style>
<div class="container">
  <div class="row">
    <div class="col"><p>In Game Name: {{email if email}}</p></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"><p>Password: <button> Change Password </button></p></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row">

  </div>
  <div class="row">
    <div class="col">
      <h4>Your Inventory</h4>
      <!-- SEARCH BAR -->
      <form class="form-inline searchbar">
        <input class="form-control mr-sm-2 searchbar-input" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="row" style="margin-right:15px;">
        <div class="item col-sm">
          <img class="mb-4" src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" alt="">
        </div>
        <div class="col-sm item">
          <img class="mb-4" src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" alt="">
        </div>
        <div class="col-sm item">
          <img class="mb-4" src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" alt="">
        </div>
        <div class="col-sm item">
          <img class="mb-4" src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" alt="">
        </div>
        <div class="col-sm item">
          <img class="mb-4" src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" alt="">
        </div>
        <div class="col-sm item">
          <img class="mb-4" src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" alt="">
        </div>
        <div class="col-sm item">
          <img class="mb-4" src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" alt="">
        </div>
        <div class="col-sm item">
          <img class="mb-4" src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" alt="">
        </div>
        <div class="col-sm item">
          <img class="mb-4" src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" alt="">
        </div>
        <div class="col-sm item">
          <img class="mb-4" src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" alt="">
        </div>
        <div class="col-sm item">
          <img class="mb-4" src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" alt="">
        </div>
        <div class="col-sm item">
          <img class="mb-4" src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" alt="">
        </div>
      </div>
    </div>
    <div class="col col-lg-4">
      <h4>New Offer</h4>
      <ul class="list-group">
        <li class="list-group-item"><img src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" /> Staff of Yuletide Carols</li>
        <li class="list-group-item"><img src="https://i.imgur.com/scbKnF0.png" /> Coral Juice</li>
        <li class="list-group-item"><img src="https://static.drips.pw/rotmg/wiki/Abilities/Cloaks/T5%20Cloak%20of%20Endless%20Twilight.png" /> Cloak of Endless Twilight</li>
        <li class="list-group-item"><img src="https://static.drips.pw/rotmg/wiki/Consumable/Stat%20Potions/Potion%20of%20Life.png" /> Potion of Life <sub>x4</sub></li>
      </ul>
      <hr>
      <h4>Trade History</h4>
      <h6>Offer Capacity: 1/10</h6>
      <ul class="list-group">
        <li class="list-group-item">1x<img src="https://static.drips.pw/rotmg/wiki/Weapons/Staves/T11%20Staff%20of%20Yuletide%20Carols.png" /> for 3x<img src="https://i.imgur.com/scbKnF0.png" /> </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
