html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 1080px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
.header img{
  max-height: 75px;
}
.red{
  background-color:red;
  height:10px;
}
.blue{
  background-color:blue;
  height:10px;
}
.searchbar{
  width: 70% !important;
}
